/target/

target/
pom.xml.tag
pom.xml.next
pom.xml.backup
pom.xml.releaseBackup


.project
.classpath
.settings/
*.launch
.buildpath



# Ignorar archivos del sistema operativo
.DS_Store # macOS
Thumbs.db # Windows

# Ignorar logs, cachés y archivos temporales
*.log
*.tmp
*.temp
temp/
build/
.cache/

# Archivos relacionados con entornos de ejecución
*.war
*.ear
*.jar
*.class


*tcp*
*uuid*